.header {
    margin-top: 3.125rem;
    padding: 6.25rem 0 18.75rem;
    position: relative;

    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;

    animation: gradient 5s ease infinite alternate;
}

.header::after {
    content: "";
    width: 100%;
    height: 15.625rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    margin: auto;
    padding: 0 2.5rem;
}

.header__channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.header__channel {
    object-fit: contain;
}

.header__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.header__title--light {
    display: block;
    font-weight: lighter;
    font-size: 2rem;
}

.divider {
    width: 70%;
    max-width: 43.75rem;
    height: 5px;
    background: var(--divider-bg-color);
}

.offter {
    font-size: 1.25rem;
    text-align: center;
}

.offter__price {
    font-size: 2.5rem;
    font-weight: bold;
}

.offter__price--small {
    font-size: 1rem;
    font-weight: 300;
}

.header__button {
    animation: wiggle 2.2s linear infinite;
}

.header .text--small {
    max-width: 18.75rem;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header {
        margin-top: 8rem !important;
    }
}


/* Animations */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wiggle {
    0%,
    10% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}